.heading {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transform: translate(35%, 0);
}
.outline {
  background-color: gold;
}
.Element1 {
  /* border: 2px solid black; */
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 0px);
  margin-top: -20px;
}
.display-name {
  /* border: 2px solid grey; */
  /* margin-bottom: 20px; */
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.display {
  /* border: 2px solid blue; */
  /* height: 400px; */
  /* margin-bottom: 10px; */
  width: 280px;
  padding: 15px;
  padding-bottom: 0px;
  /* padding-bottom: -5px; */
  height: 60px;
  margin-top: 5px;
}
.op {
  background-color: beige;
}
.display:hover {
  background-color: beige;
}
.select-person {
  cursor: pointer;
}
.per-details {
  display: flex;
}

.field-3 {
  display: flex;
  gap: 25px;
}
.friend-expense {
  border: 2px solid black;
  background-color: lightcyan;
  padding: 3px 10px;
  margin-left: 15px;
}
.uparr {
  width: 300px;
}
.add-friend {
  cursor: pointer;
  transform: translate(0, 5px);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: orange;
  color: black;
  border-radius: 10px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
}
.add-friend:hover {
  background-color: black;
  color: white;
}
.memlim {
  opacity: 0.4;
  transform: translate(0, 5px);
  cursor: not-allowed;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: orange;
  color: black;
  border-radius: 10px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
}
.fr-img {
  border-radius: 50px;
}

.addmem1 {
  /* border: 2px solid green; */
  width: 300px;
}
.addmem2 {
  /* border: 2px solid magenta; */
  margin-top: 5px;
  background-color: bisque;
  padding: 18px 18px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cl-btn {
  cursor: pointer;
  margin-left: 75px;
  transform: translate(170%, -100%);
  padding: 5px;
  border: none;
  /* background-color: orange; */
  background-color: black;
  color: white;
  border-radius: 7px;
  font-family: sans-serif;
  font-weight: bold;
}
.op-btn {
  cursor: pointer;
  margin-left: 75px;
  transform: translate(150%, -100%);
  padding: 5px;
  border: none;
  background-color: orange;
  border-radius: 7px;
  font-family: sans-serif;
  font-weight: bold;
}
.op-btn:hover,
.cl-btn:hover {
  background-color: black;
  color: white;
}
.AddmemEl {
  /* border: 2px solid orange; */
  height: 100px;
}
.extra-space {
  /* border: 2px solid aqua; */
  margin-top: 75px;
}

.stored-cont {
  margin-left: 20px;
  transform: translate(0, -22px);
}
.curr-cont {
  margin-left: 68px;
  transform: translate(0, -24px);
}

.curr-cont,
.stored-cont {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 15.5px;
}
.img-linksp {
  width: 100px;
  margin-left: 25px;
  transform: translate(0, -10%);
  height: 25px;
  border: none;
}
.frname {
  width: 100px;
  height: 25px;
  margin-left: 10px;
  border: none;
  transform: translate(0, -5%);
}
.lb1,
.lb2 {
  margin-bottom: 20px;
}
.c1 {
  border: none;
  background-color: aquamarine;
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
}
.c2 {
  cursor: pointer;
  padding: 10px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
}
.c2:hover {
  background-color: black;
  color: white;
}
.frnmlb,
.imgurllb {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.oweG {
  color: green;
  /* margin-left: 48px; */
}
.oweR {
  color: red;
  /* margin-left: 48px; */
}
.oweGc {
  color: green;
  /* margin-left: 48px; */
}
.oweRc {
  color: red;
  /* margin-left: 48px; */
}
.heading_p2 {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.fd {
  margin-bottom: 20px;
}
.inp1 {
  width: 80px;
  margin-left: 40px;
  transform: translate(0, -2px);
  height: 20px;
  border: none;
}
.inp2 {
  width: 80px;
  margin-left: 31px;
  transform: translate(0, -3px);
  height: 20px;
  border: none;
}
.inp4 {
  margin-left: 10px;
  transform: translate(0, -2px);
}
.Element2 {
  /* border: 2px solid orangered; */
  position: absolute;
  right: -500px;
  top: 80px;
  padding: 10px 120px 25px 100px;
  background-color: bisque;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lab {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2px;
}
.print-details {
  padding: 7px;
  margin-top: 5px;
  background-color: orange;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
}
.print-details:hover {
  background-color: black;
  color: white;
}
.both-btns {
  display: flex;
}
.clr {
  padding: 7px;
  margin-top: 5px;
  background-color: orange;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.clr:hover {
  background-color: black;
  color: white;
}
